html{
    margin:0px;
    height: 100vh;
}

body{
    margin:0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.donny-topleft{
    width: 18%;
    border-radius: 50%;
    display: block;
    box-shadow: 0 0 10px black;
    margin: 25px;
    object-fit: cover;
}

.header{
    background: linear-gradient(to top, #B9FFF8 0%, #FF9551 100%);
    display:flex;
}

.header-text{
    text-align: center;
    width: 82%;
    font-size: 50px;
    letter-spacing: 5px;
    font-family: "headerfont";
}

#menuButton {
    display: none;
}

.menu{
    background-color: #B9FFF8;
    display: flex;
    height: 100vh;  
    width: 21%;
    align-items: center;
    flex-direction: column; 
}

#navbar {
    display:block;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    list-style-type: none;
    width: 100px;
    text-align: center;
}

#navbar a {
    box-shadow: 0 0 10px black;
    background-color: #FF9551;
    color: black;
    text-decoration: none;
    font-weight: bold;
    height: 30px;
    font-size: 20px;
    display: block;
    border-radius: 3%;

}

.content{
    background-color: #B9FFF8;
    display:flex;
    height: 100vh;
    font-weight: bold;
}

.content-images{
    display:flex;
    flex-wrap: wrap;
    background-color: #B9FFF8;
    width: 82%;
    outline: none;
    justify-content: space-evenly;
    align-content: flex-start;
}

.content img{
    margin-top:20px;
    height: 200px;
    box-shadow: 0 0 10px black;
    object-fit: cover;
}

.about-text{
    display:flex;
    flex-wrap: wrap;
    background-color: #B9FFF8;
    width: 80vw;
    text-align: center;
    justify-content: center;
    outline: none;
    align-items: flex-start;
}

#albumOutput{
    width: 50vw;
}


.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px; 
    display:flex;
    padding:25px;
    align-items: center;
    background: linear-gradient(to top, #FF9551 0%,#B9FFF8 100%);
}

#instagramlogo{
    margin-left: 15px;
    width: 35px;
    height: 35px;
}

#emaillogo{
    margin-left: 15px;
    width: 35px;
    height: 35px;
}

@media screen and (max-width: 600px) {

.donny-topleft{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 50%;
    border:none;

}

.header{
    display:flex;
    flex-direction: column;
    width:100%;

}

.header-text{
    text-align: center;
    width: 100%;
    letter-spacing: 5px;

}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #B9FFF8;
    text-align: center;
    justify-content: space-evenly;
    height: auto;
}

#navbar {
    display:none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100px;
    text-align: center;

}

#menuButton{
    display: block;
    background-color: #FF9551;
    text-decoration: none;
    font-weight: bold;
    height: 30px;
    font-size: 20px;
}

#navbar a {
    background-color: #FF9551;
    margin-bottom:5px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    height: 30px;
    font-size: 20px;
    border-radius: 3%;
}

.content{
    min-height:100vh;
    display:flex;
    flex-direction: column;
    background-color: #B9FFF8;
    align-items: center;
    
}

.content-images{
    display:flex;
    flex-direction: column;
    background-color: #B9FFF8;
    width: 100%;
    text-align: center;
    font-weight: bold;
    align-content: center;
    flex-wrap: wrap;

}

.content img{
    margin-top:33px;
    height: 150px;
    width: 150px;
    box-shadow: 0 0 10px black;
    object-fit: cover;
}

#albumOutput{
    overflow-x:auto;
    white-space: pre-wrap;

}

.about-text{
    display:flex;
    flex-wrap: wrap;
    background-color: #B9FFF8;
    width: 100vw;
    outline: none;
    text-align:center;

 }
}

@font-face {
    font-family: headerfont;    
    src:url("../public/fonts/BackToSchool.ttf");
}